//Variables 
$font1: "Poppins", sans-serif;
$grey: rgb(85, 85, 85);
$medium-grey: rgb(111, 111, 111);
$light-grey: rgb(181, 181, 181);
//possible accent colors I like
$navy: #0A2540;
$teal: #2EC4B6;
$blue-green: #0FB9B1;

*{
    margin: 0;
    padding: 0;
};

html{
    scroll-behavior: smooth;
};

body{
    font-family: $font1;
};

p{
    color: $grey;
};

/* TRANSITION */
a,
.btn{
    transition: all 300ms ease;
};

/* DESKTOP NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
};

.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
};

a{
    color:black;
    text-decoration: none;
    text-decoration-color: white;
   
    &:hover{
        color: $medium-grey;
        text-decoration: underline;
        text-decoration-color: $light-grey;
        text-underline-offset: 1rem;
    }
};

.logo{
    font-size: 2rem;
    &:hover{
        cursor: default;
    }
};

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
};

.hamburger-menu {
    position: relative;
    display: inline-block;
};

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    cursor: pointer;

    span {
        width: 100%;
        height: 2px;
        background-color: black;
        transition: all 0.3s ease-in-out;
        transform: none;
    }

    &.open {
        span:first-child {
            transform: rotate(45deg) translate(10px, 5px);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:last-child {
            transform: rotate(-45deg) translate(10px, -5px);
        };
    };
};

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    li {
        list-style: none;
    }

    &.open {
        max-height: 300px;
    }
};

//MEDIA QUERY
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    };
};